@import "../../styles/variables.css";

.container{
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    align-items: center;
    padding: 3rem 0;
    gap: .5rem;
    .title{
        font-size: 2.5rem;
    }
    .subtitle{
        font-size: 1.2rem;
    }
    .warning{
        color: red;
    }
}

.light{
    background-color: var(--background-color-light);
    .title, .subtitle{
        color: var(--text-color-light);
    }
}

.dark{
    background-color: var(--background-color-dark);
    .title, .subtitle{
        color: var(--text-color-dark);
    }
}
